#box-outer{
  margin:5% auto 0;
  padding:50px;
  max-width:500px;
  border:solid 10px darkgreen;
  background:greenyellow;
}

#box-inner{
  height:300px;
  border:solid 10px goldenrod;
  background:yellow;
}
#box-inner p {
  max-width:200px;
  margin:10% auto;
  text-align: center;
  border:solid 1px red;
}